html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    background-color: #a9c8c8;
}

#container {
    width: 800px;
    margin: 0 auto;
    padding: 2rem 4rem;
}

header {
    display: flex;
    top: 0;
    justify-content: space-between;
    background: #a9c8c8;
}

header div {
    display: flex;
    align-items: center;
}

header a {
    padding: 0 0.5rem;
}

#name {
    font-size: 2.5rem;
}

#intro {
    animation-name: slidein;
    animation-duration: 3s;
}

.section {
    padding: 1rem 0;
}