html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: white;
    background-color: #87aac8;
}

#container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 0.5rem;
    overflow: hidden;
}

header {
    display: block;
}

header div {
    display: flex;
    align-items: center;
}

header a {
    margin: 0 1rem 0 0;
    color: white;
    text-decoration: none;
    animation-name: bounce;
    animation-duration: 0.5s;
}

#name {
    font-size: 2.5rem;
}

#Github {
    animation-delay: 0s;
}

#LinkedIn {
    animation-delay: 0.1s;
}

#Resume {
    animation-delay: 0.2s;
}

.section {
    padding: 1rem 0 0 0;
}

.title {
    font-size: 1.5rem;
    text-decoration: underline;
}

.underline:hover {
    text-decoration: underline;
}

@keyframes bounce {
    from {
        transform: translateY(100%);
        opacity: 10%;
    }

    50% {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 120%;
    }

    #container {
        padding: 0 2rem;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header a {
        margin: 0 0 0 1rem;
    }
}
