#terminal {
    font-family: "Courier New", Courier, Consolas, monospace;
    font-size: 1rem;
    padding: 0 0 4rem 0;
}

#terminal-header {
    display: flex;
    justify-content: space-between;
    height: 1.75rem;
    padding: 0 0.5rem;
    text-align: center;
    align-items: center;
    color: black;
    background: #f2f2f2;
    border-style: none;
    border-radius: 0.5rem 0.5rem 0 0;
}

#terminal-content {
    padding: 1rem 0.75rem;
    background: #49483E;
    border-style: none;
    border-radius: 0 0 0.5rem 0.5rem;
}

#terminal-content.light {
    background: #fdf6e3;
}

.terminal-button {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    padding: 0.25rem;
    border-style: none;
}

#close-terminal {
    background-color: #ff4d4d;
}

#minimise-terminal {
    background-color: #ffc14d;
}

#enlarge-terminal {
    background-color: #4dff4d;
}

.input {
    color: #a6e22e;
    padding: 0 0 0.5rem 0;
}

.input.light {
    color: #dc322f;
}

.output {
    color: #e6db74;
    padding: 0 0 0.75rem 2.5rem;
}

.output.light {
    color: #2aa198;
}

.link {
    color: #66d9ef;
    text-decoration: none;
}

.link.light {
    color: #859900;
}