#terminal {
    font-family: monospace;
    font-size: 1em;
}

#terminal-header {
    display: flex;
    justify-content: space-between;
    height: 1.75em;
    padding: 0 0.5em;
    text-align: center;
    align-items: center;
    color: black;
    background: #f2f2f2;
    border-style: none;
    border-radius: 0.5em 0.5em 0 0;
}

#terminal-content {
    padding: 0.75em;
    background: #49483E;
    border-style: none;
    border-radius: 0 0 0.5em 0.5em;
}

.terminal-button {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    padding: 0.5em;
    border-style: none;
}

#close-terminal {
    background-color: #ff4d4d;
}

#minimise-terminal {
    background-color: #ffc14d;
}

#enlarge-terminal {
    background-color: #4dff4d;
}

.input {
    color: #a6e22e;
}

.output {
    color: #e6db74;
    padding: 0 0 0.75em 2.5em;
}